/** Header and Footer **/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  color: #858585;
  text-align: center;
  margin: 7% 0 2% 0;
}

header {
  background-color: #00adb5;
  color: #eeeeee;
  padding: 1% 5%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) !important;
}

/** General: app, board, body */

.app {
  height: 100%;
}

.board {
  border: 20px solid #703c00;
  margin: 5%;
  background-color: #3d3d3d;
  box-shadow: -1px 2px 2px 0px #444, inset 0 0 10px 0 #000;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.board h1 {
  color: white;
  text-align: center;
  margin: 2% 0 0 0;
}

body,
h1 {
  color: #222831;
  font-family: "Poppins", sans-serif;
  margin: 0;
  line-height: 1 !important;
}

hr {
  color: white;
  background: white;
  border: none;
  height: 2px;
}

/** Columns & Column */

.column {
  min-width: 300px;
  min-height: 50vw;
}

.column h2 {
  margin: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
}

.new-column {
  margin: 0 2%;
  min-height: 40vw;
}

/** plus */

.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
  font-size: 2.5rem;
  margin: 3% 0;
  width: 2rem;
  height: 2rem;
  border: 3px solid white;
  border-radius: 100%;
}

.plus:hover {
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

/** Notes and Note */

.note {
  text-decoration: none;
  color: #000;
  background: #f9fce1;
  display: block;
  height: 7em;
  width: 7em;
  padding: 0.5em;
  -moz-box-shadow: 5px 5px 4px rgba(44, 44, 44, 0.5);
  -webkit-box-shadow: 5px 5px 4px rgba(44, 44, 44, 0.5);
  box-shadow: 5px 5px 4px rgba(44, 44, 44, 0.5);
  -moz-transition: -moz-transform 0.15s linear;
  -o-transition: -o-transform 0.15s linear;
  -webkit-transition: -webkit-transform 0.15s linear;
  font-family: "Shadows Into Light", cursive;
}

.note h3 {
  margin: 0 0 5% 0;
  font-size: 1.15rem;
  font-weight: bold;
}

.note p {
  margin: 0;
}

.note-container {
  margin: 0.5em;
  display: float;
  float: left;
}

.notes .note-container:nth-child(2n) .note {
  position: relative;
  background: #fee9b2;
}

.notes .note-container:nth-child(3n) .note {
  position: relative;
  background: #d3f6f3;
}

.notes .note-container:nth-child(5n) .note {
  position: relative;
  background: #fbd1b7;
}

.notes .note-container .note:hover,
.notes .note-container .note:focus {
  box-shadow: 12px 12px 10px rgba(44, 44, 44, 0.8);
  -moz-box-shadow: 12px 12px 10px rgba(44, 44, 44, 0.8);
  -webkit-box-shadow: 12px 12px 10px rgba(44, 44, 44, 0.8);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position: relative;
  z-index: 5;
}

/** Draggable */

.draggable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.draggable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/** Modals */

.modal-style {
  width: 600px !important;
}

.modal-content {
  height: 600px;
  border-radius: 0 !important;
  background-color: #d3f6f3 !important;
  font-family: "Shadows Into Light", cursive;
}

.modal-content label,
.modal-content .h4 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.modal-content input, .modal-content textarea, .modal-content select{
  border: none;
  -moz-box-shadow:    inset 0 0 4px #aaa;
  -webkit-box-shadow: inset 0 0 4px #aaa;
  box-shadow:         inset 0 0 4px #aaa;
}

.modal-content textarea {
  height: 10rem !important;
}

.modal-content button{
  font-family: "Poppins", sans-serif;
  background: none;
  border: none;
  color: black;
}

.modal-content button:hover{
  background: #00adb5;
}



@media only screen and (max-width: 995px) {
  .modal-style {
    width: 450px !important;
  }

  .modal-content {
    height: 450px;

  }
  .modal-content textarea {
    height: 4rem !important;
  }

}
