/** Header and Footer **/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  color: #858585;
  text-align: center;
  margin: 7% 0 2% 0;
}

header {
  background-color: #00adb5;
  padding: 1% 5%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) !important;
}

header h1 {
  color: #eeeeee;
}

/** General: app, board, body */

.app {
  height: 100%;
}

.board {
  border: 20px solid #703c00;
  margin: 5%;
  background-color: #3d3d3d;
  box-shadow: -1px 2px 2px 0px #444, inset 0 0 10px 0 #000;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.board h1 {
  color: #eeeeee;
  text-align: center;
  margin: 2% 0 0 0;
  position: relative;
}

.board h1:hover {
  cursor: pointer;
}

body,
h1 {
  color: #222831;
  font-family: "Poppins", sans-serif;
  margin: 0;
  line-height: 1 !important;
}

hr {
  color: #eeeeee;
  background: #eeeeee;
  border: none;
  height: 2px;
}

/** Columns & Column */

.column {
  min-height: 50vw;
}

.column h2 {
  margin: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #eeeeee;
}


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.column-title:hover {
  cursor: pointer;
}

/** Dropdown */

#add-dropdown {
  position: absolute;
  z-index: 2;
  margin: 1%;
}

#dropdown-basic {
  color: #eeeeee;
  background: none;
  font-family: "Poppins", sans-serif;
  border: none;
}

#dropdown-basic:hover {
  background-color: #00adb5;
}

/** Notes and Note */

.note {
  text-decoration: none;
  color: #000;
  background: #f9fce1;
  display: block;
  height: 8em;
  width: 8em;
  padding: 0.5em;
  -moz-box-shadow: 5px 5px 4px rgba(44, 44, 44, 0.5);
  -webkit-box-shadow: 5px 5px 4px rgba(44, 44, 44, 0.5);
  box-shadow: 5px 5px 4px rgba(44, 44, 44, 0.5);
  -moz-transition: -moz-transform 0.15s linear;
  -o-transition: -o-transform 0.15s linear;
  -webkit-transition: -webkit-transform 0.15s linear;
  font-family: "Shadows Into Light Two", cursive;
  
}

.note h3 {
  margin: 0 0 5% 0;
  font-size: 1.15rem;
  font-weight: bold;
  white-space: nowrap;
  max-width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note p {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.note-container {
  margin: 0.5em;
  display: float;
  float: left;
}

.notes .note-container:nth-child(2n) .note {
  position: relative;
  background: #fee9b2;
}

.notes .note-container:nth-child(3n) .note {
  position: relative;
  background: #d3f6f3;
}

.notes .note-container:nth-child(5n) .note {
  position: relative;
  background: #fbd1b7;
}

.notes .note-container .note:hover,
.notes .note-container .note:focus {
  box-shadow: 12px 12px 10px rgba(44, 44, 44, 0.8);
  -moz-box-shadow: 12px 12px 10px rgba(44, 44, 44, 0.8);
  -webkit-box-shadow: 12px 12px 10px rgba(44, 44, 44, 0.8);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position: relative;
  z-index: 5;
}

/** Draggable */

.draggable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.draggable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/** Modals */

.note-modal.modal-dialog {
  width: 600px !important;
  min-width: 600px !important;
}

.note-modal .modal-content {
  height: 600px !important;
  border-radius: 0 !important;
  background-color: #d3f6f3 !important;
  font-family: "Shadows Into Light Two", cursive;
}

.note-modal p {
  margin: 1% 2.5% 3% 2.5%;
}

.scrollable-container {
  overflow: hidden;
}

#note-title {
  min-height: 25px;
  max-height: 40px;
  overflow-y: scroll;
  box-sizing: content-box;
}

#note-description {
  min-height: 50px;
  max-height: 240px;
  overflow-y: scroll;
  box-sizing: content-box;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent;
}

.modal-content label,
.modal-content .h4 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.modal-content input, .modal-content textarea, .modal-content select{
  border: none;
  -moz-box-shadow:    inset 0 0 4px #aaa;
  -webkit-box-shadow: inset 0 0 4px #aaa;
  box-shadow:         inset 0 0 4px #aaa;
}

.modal-content textarea {
  height: 10rem !important;
}

.modal-content button{
  font-family: "Poppins", sans-serif;
  background: none;
  border: none;
  color: black;
}

.modal-content button:hover{
  background: #00adb5;
}

.column-modal.modal-dialog {
  width: 400px !important;
}

.column-modal .modal-content {
  height: 250px;
  border-radius: 0 !important;
  background-color: #d3f6f3 !important;
  font-family: "Shadows Into Light Two", cursive;
}

@media only screen and (max-width: 995px) {
  .modal-style {
    width: 450px !important;
  }

  .modal-content {
    height: 450px;

  }
  .modal-content textarea {
    height: 4rem !important;
  }

  .note {
    width: 7rem;
    height: 7rem;
    
  }

  .note h3 {
    margin: 0 0 1% 0;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .note p {
    margin: 0;
    font-size: .85rem;
  }
  
  .board h1 {
    font-size: 1.75rem;
  }

  .board {
    margin: 1%;
  }

  .column h2 {
    font-size: 1.6rem;
  }

}

@media only screen and (max-width: 725px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    min-height: none;
  }

  .note-modal.modal-dialog {
    width: 400px !important;
    min-width: 400px !important;
  }
  
  .note-modal .modal-content {
    height: 400px !important;
    padding: 0;
  }

  .modal-content textarea {
    height: 2rem !important;
  }

  .modal-header, .modal-body, .modal-footer {
    padding: 2% !important;
    font-size: 85%;
  }
  
  .board h1 {
    font-size: 1.5rem;
  }

  .column h2 {
    font-size: 1.3rem;
  }

  #note-title {
    min-height: 20px;
    max-height: 30px;
  }
  
  #note-description {
    min-height: 30px;
    max-height: 120px;
  }
}

.rotate-message.modal-dialog {
  display: none !important;
}
